<!DOCTYPE html>
<html>

<head>
</head>
<style>
    body {
        text-align: left;
    }

    .container {
        position: relative;
        margin: 0 auto;
        margin-left: auto;
        text-align: left;
        max-width: 800px;
    }
</style>

<body>
    <div class="container">
        <img style="position:absolute;top:0.15in;left:0.10in;width:7.38in;height:0.85in"
            src="https://taizo-email-notification-assets.s3.ap-south-1.amazonaws.com/images/Taizo+Letterhead_Header.png" />
        <img style="position:absolute;top:10in;left:1in;width:4.87in;height:0.76in"
            src="https://taizo-email-notification-assets.s3.ap-south-1.amazonaws.com/images/Taizo+Letterhead_Footer.png" />
        <img style="position:absolute;top:2.7in;left:-0.5in;width:2.8in;height:6in"
            src="https://taizo-email-notification-assets.s3.ap-south-1.amazonaws.com/images/Taizo+Letterhead_Watermark.png" />

        <div style="position:absolute;top:1.48in;left:1.15in;width:5.45in;line-height:0.24in;"><span
                style="font-style:normal;font-weight:bold;font-size:16pt;font-family:Calibri;color:#000000">Service
                Level Agreement (SLA) for ${companyName}.</span><span
                style="font-style:normal;font-weight:bold;font-size:16pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:2.32in;left:0.10in;width:6.76in;line-height:0.26in;"><span
                style="font-style:normal;font-weight:bold;font-size:14pt;font-family:Calibri;color:#000000">Scope and
                Overview:</span><span
                style="font-style:normal;font-weight:bold;font-size:14pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">This
                 Service Level Agreement ("SLA") outlines the commitments and services provided by </span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">Taizo.in
            </span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">to</span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000"><strong>${companyName}</strong>
                (&quot;Client&quot;) for the recruitment of candidates in the manufacturing industry.</span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:3.61in;left:0.10in;width:0.13in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">1.</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:3.61in;left:0.23in;width:2.86in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
                Turnaround Time for Suitable Candidates:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:3.95in;left:0.23in;width:8in;line-height:0.19in;"><p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 144px;">Taizo.in commits to presenting suitable candidates fulfilling <b>${companyName}</b> 's job requirements within 5 days
from the date of request submission or plan purchase.</p></div>
        <div style="position:absolute;top:4.85in;left:0.10in;width:0.13in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">2.</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:4.85in;left:0.23in;width:3.04in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">Dedicated
                Account Management:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:5.19in;left:0.23in;width:6.78in;line-height:0.19in;"><p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 15px;">A dedicated Account Manager will ensure seamless coordination and communication between Taizo.in
and <strong>${companyName}</strong> throughout the recruitment process.
        </p></div>
        <div style="position:absolute;top:6.09in;left:0.10in;width:0.13in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">3.</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:6.09in;left:0.23in;width:2.24in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
        Tailored Recruitment Services:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:6.43in;left:0.23in;width:7.00in;line-height:0.19in;"><p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 15px;">A committed team with significant expertise in mechanical and manufacturing will assist in sourcing,
screening, and shortlisting candidates specifically tailored to meet <b>${companyName}</b> 's hiring needs. </p></div>
        <div style="position:absolute;top:7.33in;left:0.10in;width:0.13in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">4.</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:7.33in;left:0.23in;width:2.02in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">Candidate
                Interview Line-Up:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
       <div style="position:absolute;top:7.67in;left:0.23in;width:6.83in;line-height:0.19in;">
       <p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 15px;">Taizo.in
                will arrange and coordinate interviews for the shortlisted candidates, facilitating the selection process
                until <strong>${companyName}</strong>&apos;s hiring needs are fulfilled.</p></div>
        <div style="position:absolute;top:8.57in;left:0.10in;width:0.13in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">5.</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <div style="position:absolute;top:8.57in;left:0.23in;width:1.16in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">Position
                Closure:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
     <div style="position:absolute;top:8.92in;left:0.23in;width:7.00in;line-height:0.19in;">
     <p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 50px;">Taizo.in will work diligently to assist <b>${companyName}</b> in successfully closing the positions, this includes
follow-up with candidates, managing offer negotiations, and ensuring a smooth transition to their new roles.</p>
    </div>
</body>

</html>