<!DOCTYPE html>
<html>
<head>
</head>
<style>
    body {
        text-align: left;
    }
    .container {
        position: relative;
        margin: 0 auto;
        text-align: left;
        max-width: 800px;
    }
</style>
<body>
    <div class="container">
        <div style="position:absolute;top:1.61in;left:3.60in;width:1.82in;line-height:0.17in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#363636">
            </span><br /></SPAN></div>
        <img style="position:absolute;top:0.15in;left:0.10in;width:7.38in;height:0.85in"
            src="https://taizo-email-notification-assets.s3.ap-south-1.amazonaws.com/images/Taizo+Letterhead_Header.png" />
        <img style="position:absolute;top:10in;left:1in;width:4.87in;height:0.76in"
            src="https://taizo-email-notification-assets.s3.ap-south-1.amazonaws.com/images/Taizo+Letterhead_Footer.png" />
        <img style="position:absolute;top:2.7in;left:-0.5in;width:2.8in;height:6in"
            src="https://taizo-email-notification-assets.s3.ap-south-1.amazonaws.com/images/Taizo+Letterhead_Watermark.png" />
        <div style="position:absolute;top:1.40in;left:0.2in;width:7.30in;line-height:0.35in;"><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">Recruitment Fee Structure:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 78px; line-height:0.25in; margin-bottom: 30px;">Taizo.in charges <strong>${recruitmentFeePercentage} %</strong> on the Annual <strong>${recruitmentFeeType}</strong> per candidate recruited, plus GST, as the recruitment fee. The
invoice will be raised on the candidate's date of joining, and payment is expected within <strong>${paymentDuration}</strong> from the
billing date.</p><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000;margin-bottom: 80px;">Guarantee
                and Replacement:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 78px; line-height:0.25in; margin-bottom: 30px;">In the event a candidate placed by Taizo.in voluntarily leaves <strong>${companyName}</strong> within <strong>${replacementDuration}</strong> of joining,
Taizo.in will provide a one-time replacement at no additional charge. Please note that this replacement policy
will not apply if the company terminates the employee for any other reason, for which we do not guarantee
providing a replacement.</p>
                   </span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">Effective
                Date:</span><p style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000; padding-left: 7px; margin-top:0px; padding-right: 78px; line-height:0.25in; margin-bottom: 30px;">This Service Level Agreement is effective from the date of acceptance by both parties and will remain in
effect until the successful fulfilment of the positions.
            </p><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000;margin-top:80px;"> <br> By
                accepting this SLA, both parties agree to the terms and conditions outlined above.</span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">Accepted and
                agreed:</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">${companyName}</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">Signature:
                _____________________</span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">Date:
                _________________________</span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000"><br>Taizo
                Technologies Private Limited</span><span
                style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">Signature:</span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">Date:
                ${date}</span><span
                style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Calibri;color:#000000">
            </span><br /></SPAN></div>
        <img style="position:absolute;top:8.5in;left:1.5in;width:150px;height:75px; transform:rotate(5deg)" src="https://taizo-email-notification-assets.s3.ap-south-1.amazonaws.com/images/Gopi_Sign.png" />
    </div>
</body>
</html>